html, body {margin: 0;  overflow: hidden}

 /* Main Div */
 .div-main
{
    margin: 0px;
    overflow: hidden;
}

 /* Header css */
.div-header
{
    margin: 0px;
    margin-bottom: 20px;
    box-shadow: 0 10px 10px -5px #ECEFF1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 50px;
}

.div-img-header
{
    width: 80px;
}

.div-searchBox
{
    margin: 0px;
    text-align: center;
    width: 100%;
}

.img-header 
{
    height: 50px;
    width: 80px;
}

.input-searchBox
{
    height: 30px;
    border-radius: 25px;
    border-width: 1px;
    border-color: #78909C;
    padding-left: 10px;
    outline-width: 0px;
    font-family: "FontAwesome";
    font-size: 20px;
    margin-right: 20px;
    width: 40%;
    padding-right: 10px;
}

.ng-untouched::-webkit-input-placeholder 
{ 
    color: #78909C; 
    font-size: 12px;
}

.download-button {
    background-color: #512DA8;
    color: white;
    border: none;
    width: 150px;
    height: 30px;
    margin-right: 20px;
}


/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 20px;
    width: 100%;
    text-align: right;
    font-style: italic;
    background-color: #ECEFF1;
    height: 25px;
    align-content: center;
    padding-top: 5px;
    font-size: 13px;
 }

 .p-footer
 {
    padding-right: 20px;
    margin: 0px;
 }

 /* Description*/

.div-description
{
    text-align: center;
}

.div-dynamic-description
{
    width: 100%; 
    margin: auto;
}

h1
{
    color: #607D8B;
    margin-top: 100px;
    font-size: 60px;
}

.h2-dynamic-description {
    border-right: solid 3px #4527A0;
    color: #4527A0;
    white-space: nowrap;
    overflow: hidden;     
    font-size: 35px;
    height: max-content;
    text-align: center;
    margin: auto;
  }
  
  /* Animation */
 .h2-dynamic-description {
    animation: animated-text 4s steps(29,end) 1s 1 normal both,
               animated-cursor 600ms steps(29,end) infinite;
  }
  
  /* text animation */
  @keyframes animated-text{
    from{width: 0;}
    to{width: 65%;}
  }

  /* cursor animations */
  
  @keyframes animated-cursor{
    from{border-right-color: white;}
    to{border-right-color: transparent;}
  }