<div class="div-main" #divmain>
  <div class="div-header">
      <!--Header section-->
      <div class="div-img-header">
        <img class="img-header" src="../assets/icons/logo.png">
      </div>
      <!--Search bar section-->
      <div class="div-searchBox">
        <form autocomplete="off" class="searchForm">
          <input 
          type="text" 
          [(ngModel)]="searchText" 
          name="searchBox" 
          class="input-searchBox" 
          placeholder="&#xF002;  Search by location, distributor name or items"
          (ngModelChange)="searchByQuery()">
        </form>
      </div> 
      <div>
        <button *ngIf = "isGridShow" class="download-button" (click)="downloadAsCSV()">Download CSV File</button>
      </div>
  </div>
  
  <div  id="gridView" [ngStyle]="{'height': viewHeight + 'px'}">
    <!--Ag grid section-->  
    <ag-grid-angular 
    class="ag-theme-balham"
    style="width:100%; height:85%;" 
    class="ag-theme-balham" 
    *ngIf = "isGridShow"
    [pagination]="true"
    [paginationAutoPageSize]="true"
    [rowData]="RowData"
    [columnDefs]="ColumnDefs"
    (gridReady)="onGridReady($event)"
    [animateRows]="true" enableSorting>    
    </ag-grid-angular>
    <!--Info section-->
    <div *ngIf="!isGridShow" class="div-description">
      <h1 id="description">
        Full text search engine built on 1000+ datasets for covid resources based on location.
      </h1>
      <div class="div-dynamic-description">
        <h2 class="h2-dynamic-description">
          Medical oxygen, beds, medicines, consultation and ngo.
        </h2>
      </div>
    </div>
  </div>    
  

  <!--Footer section-->
  <footer class="footer">
    <p class="p-footer">Please drop your feedback <a href="mailto:vishmita94@gmail.com">vishmita94@gmail.com</a></p>
  </footer>
</div>
