<div class="div-main">
  <!--Header section-->
  <div class="div-header">
    <img class="img-header" src="../assets/icons/logo.png">
  </div>
  <!--Search bar section-->
  <div class="div-searchBox">
    <form autocomplete="off" class="searchForm">
      <input 
      type="text" 
      [(ngModel)]="searchText" 
      name="searchBox" 
      class="input-searchBox" 
      placeholder="Search by location, distributor name or items"
      (ngModelChange)="searchByQuery()">
    </form>
  </div> 
  <!--Ag grid section-->
  <div class="ag-theme-balham" style="height:550px;">    
    <ag-grid-angular 
    style="width:100%; height:85%;" 
    class="ag-theme-balham" 
    *ngIf = "isGridShow"
    [pagination]="true"
    [rowData]="RowData"
    [columnDefs]="ColumnDefs">    
    </ag-grid-angular>
  </div>    
  <!--Footer section-->
  <footer class="footer">
    <p class="p-footer">Please drop your feedback <a href="mailto:vishmita94@gmail.com">vishmita94@gmail.com</a></p>
  </footer>
</div>
