.div-header
{
    margin: 0px;
    margin-bottom: 20px;
    box-shadow: 0 10px 10px -5px #ECEFF1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 50px;
}

.div-img-header
{
    width: 80px;
}

.div-searchBox
{
    margin: 0px;
    text-align: center;
    width: 100%;
}

.img-header 
{
    height: 50px;
    width: 80px;
}

.input-searchBox
{
    height: 30px;
    border-radius: 25px;
    border-width: 1px;
    border-color: #B0BEC5;
    padding-left: 10px;
    outline-width: 0px;
    font-family: "FontAwesome";
    font-size: 20px;
    margin-right: 20px;
    width: 40%;
    padding-right: 10px;
}

.div-main
{
    margin: 0px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 20px;
    width: 100%;
    text-align: right;
    font-style: italic;
    background-color: #ECEFF1;
    height: 30px;
    align-content: center;
    padding-top: 5px;
 }

 .p-footer
 {
    padding-right: 20px;
    margin: 0px;
 }

 .body-style 
 {
     margin: 0px;
 }
 
 #gridView
 {
     min-height: 200px;
 }

.ng-untouched::-webkit-input-placeholder 
{ 
    color: #B0BEC5; 
    font-size: 12px;
}
