<div class="div-main" #divmain>
    <div class="div-header">
      <!--Header section-->
      <div class="div-img-header">
        <img class="img-header" src="../assets/icons/logo.png">
      </div>
    </div>
  
    <div class="div-disclaimer">
        I manually curate content in this project, but due to the nature and quantity of the information, I have not personally verified all resources. Please use caution and perform due diligence before using them, especially before making any payments.
        <br>
        <br>
        I have not created any of the resources listed on this website, and I do not maintain the information provided by them. If you find inaccurate information in the resources, please contact covidresourcesearch@gmail.com. This website is only an aggregation of COVID-19 resources across India.
        <br>
        <br>
        This website is meant for informational purposes only, and is not a substitute for legal advice, and medical diagnosis and treatment. Please consult doctors and government policies before following any medical advice using the resources.
        <br>
        <br>
        You are using the COVID Resources Search website solely at your own risk, and I am not liable for any loss you may incur as a result of it.
        <br>
        <br>
        As the situation is rapidly evolving, some information may be outdated and irrelevant. Please contact covidresourcesearch@gmail.com to remove any outdated information.
    </div>
  
  
    <!--Footer section-->
    <footer class="footer">
      <p class="p-footer">Developed by Volunteers &hearts; | Feedback: <a
          href="mailto:covidresourcesearch@gmail.com">covidresourcesearch@gmail.com</a></p>
    </footer>
  </div>
 